<section class="hero is-primary shadow-hero {{ if .Site.Params.heroBold }} is-bold {{ end }}">
  <div class="hero-head">
    {{ partial "nav.html" . }}
  </div>
  <div class="hero-body">
    <header class="container has-text-centered" {{ if not .Site.Params.noPagefind -}}data-pagefind-body{{- end -}}>
      <h1 class="title post-title is-spaced">
        {{ .Title }}
      </h1>
      <h2 class="subtitle">
        {{- if isset .Params "date" -}}
        <div style="margin: inherit;font-size: initial;">
          <!-- 创建日期 -->
          <span class="icon">
            <i class="fas fa-calendar"></i>
          </span>
          <time>{{ .Date.Format "2006-01-02" }}</time> 
          <!-- 更新日期 -->
          <span class="icon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
           <time>{{ .Lastmod.Format "2006-01-02" }}</time> 
          {{- /* busuanzi plugin */ -}}
          {{- partial "plugin/busuanzi.html" (dict "params" .Site.Params.busuanzi "bsz_type" "page-reading") -}}
        </div>
        {{- end -}}

        {{- $ctx := . -}}
          {{ with (.GetTerms "categories") }} ・
            {{- range . -}}
              <span class="post-cat mr-2">
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
              </span>
            {{- end -}}
          {{ end }}        

        {{- if eq .Type "archives" -}}
        {{- $count := len (where (where .Site.Pages "Type" "post") "Kind" "page") -}}
        {{ i18n "archives_count" (dict "Count" $count) }}
        {{- end -}}
      </h2>
      {{ with (.GetTerms "tags") }}
      <div>
        {{- range . }}
        <span class="post-tag mr-2 post-cat">
          <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
        </span>
        {{- end }}
      </div>
      {{ end }}

    </header>
  </div>
</section>
